syntax: glob
.idea/*
portal/.env
portal/storage/framework/views/*
portal/composer.lock
portal/storage/database.sqlite
syntax: regexp
^vendor/
.hg/*
portal/vendor/sonarsoftware/customer_portal_framework/.hg/thgstatus
