#Application configuration
APP_ENV=production
APP_DEBUG=false
APP_KEY=SomeRandomString
APP_URL=http://localhost
#Change this to the default language you want to use for the portal. It must be a supported language!
APP_LOCALE=en

#Mail server configuration, will need to be configured to send mail
MAIL_DRIVER=smtp
MAIL_HOST="mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
#Set this to 'tls' to use TLS encryption if available
MAIL_ENCRYPTION=null
FROM_ADDRESS="donotreply@ispportal.net"
FROM_NAME="ISP"

#General configuration options
ISP_NAME="My ISP"
DECIMAL_SEPARATOR="."
THOUSANDS_SEPARATOR=","
CURRENCY_SYMBOL="$"
COUNTRY=US
STATE=WI
LOGIN_PAGE_MESSAGE=null

#Billing configuration
SHOW_DETAILED_TRANSACTIONS=false
ENABLE_CREDIT_CARD_PAYMENTS=true
# Please be sure to review the wiki before enabling this, as it can leave your system open to abuse.
ENABLE_BANK_PAYMENTS=false

#If you'd like to enable GoCardless.com integration, set this to true, and set a valid GoCardless access token.
#Setting `ENABLE_GOCARDLESS` to true will override the `ENABLE_BANK_PAYMENTS` value, as GoCardless will specifically be used to handle bank payments.
ENABLE_GOCARDLESS=false
GOCARDLESS_ACCESS_TOKEN=""
#One of sandbox or live, depending on the type of token you're using. Typically, this should be set to live.
GOCARDLESS_ENVIRONMENT="live"
#One of 'GPB', 'SEK', or 'EUR'
GOCARDLESS_CURRENCY_CODE="EUR"

#PayPal configuration
PAYPAL_ENABLED=false
# If PAYPAL_ENABLED is true, these must both be set to valid, live, REST API credentials. These can be generated at https://developer.paypal.com under 'My Apps and Credentials' by clicking 'Create App'. Be sure to create LIVE credentials and not SANDBOX!
PAYPAL_API_CLIENT_ID=foo
PAYPAL_API_CLIENT_SECRET=bar
#Currency code from https://developer.paypal.com/docs/classic/api/currency_codes/
PAYPAL_CURRENCY_CODE=USD

#Ticketing configuration
TICKETING_ENABLED=false
INBOUND_EMAIL_ACCOUNT_ID=0
TICKET_GROUP_ID=null
TICKET_USER_ID=1
TICKET_PRIORITY=4

#Data usage configuration
DATA_USAGE_ENABLED=true

#Contracts
CONTRACTS_ENABLED=false